<?xml version="1.0" encoding="UTF-8"?>
<Configuration monitorInterval="60">
    <Properties>
        <Property name="path">shoppingcart</Property>
        <Property name="archive">${sys:log-directory:-./}/${path}/archive</Property>
    </Properties>

    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout>
                <pattern>
                    [%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n
                </pattern>
            </PatternLayout>
        </Console>
        <RollingFile name="file" append="true"
                     fileName="${sys:log-directory:-./}/${path}/shoppingcart.log"
                     filePattern="${sys:log-directory:-./}/${path}/shoppingcart-%i.log">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%-4p] %-5c{1} - %m%n" />
            <Policies>
                <SizeBasedTriggeringPolicy size="10 MB" />
            </Policies>
            <DefaultRolloverStrategy max="5" />
        </RollingFile>
    </Appenders>

    <Loggers>
        <Root level="debug">
            <AppenderRef ref="Console" />
            <AppenderRef ref="file" />
        </Root>
        <Logger name="io.undertow.request.security" level="warn"/>
    </Loggers>
</Configuration>